:root {
	--bg-menu-primary-color: #F44336;
    --bg-menu-secondary-color: #2196F3;
	--bg-hall-primary-color: #f9e219;
    --bg-hall-secondary-color: #f9473a;
}
.scene--menu
{
	background-image: linear-gradient(to bottom, 
		var(--bg-menu-secondary-color),
		var(--bg-menu-secondary-color) 60%,
		var(--bg-menu-primary-color) 60%,
		var(--bg-menu-primary-color) 100%);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	min-height: 100vh;
}
.scene--menu h1{
	/*margin-top: 10px;*/
}
.scene--menu .foot{
	padding: 5px;
	color: white;
	text-align: center;
	font-size: 1.1rem;
}
